[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Ashish Kumar Jha
	email = 79639825+Ashish-Github193@users.noreply.github.com
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[init]
	defaultBranch = master
[push]
	autoSetupRemote = true
